* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  overflow-x: hidden;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #6e5747;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

nav .header__logo {
  letter-spacing: 3px;
}

nav ul {
  list-style: none;
  width: 40%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  text-transform: uppercase;
}

nav ul li a:hover {
  color: red;
}

/* Hamburger Menu */
.header__menu--toggle {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.header__menu--toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -5px;
  top: -3px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.header__menu--toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: white;
  border-radius: 3px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header__menu--toggle span:nth-child(2) {
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

.header__menu--toggle span:nth-child(4) {
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
}

.header__menu--toggle input:checked ~ span:nth-child(2) {
  background-color: white;
  -webkit-transform: rotate(45deg) translate(-1px, -1px);
          transform: rotate(45deg) translate(-1px, -1px);
}

.header__menu--toggle input:checked ~ span:nth-child(4) {
  background-color: white;
  -webkit-transform: rotate(-45deg) translate(-1px, 0);
          transform: rotate(-45deg) translate(-1px, 0);
}

.header__menu--toggle input:checked ~ span:nth-child(3) {
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
}

#jumbo {
  background-image: url("../img/cover.jfif");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 150px;
  padding-bottom: 100px;
  position: relative;
  opacity: 0.8;
}

#jumbo h1 {
  font-size: 50px;
  line-height: 50px;
  font-weight: bold;
  color: #c08507 !important;
}

#jumbo p {
  font-size: 20px;
  color: white;
  line-height: 30px;
}

#about {
  position: relative;
  padding-bottom: 8rem;
}

#about h1 {
  color: #c08507;
  font-weight: bolder;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
}

#about h3 {
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  padding: 30px;
}

#about p {
  font-size: 1rem;
  line-height: 25px;
  text-align: justify;
}

#contact {
  background-image: url("../img/contact.jfif");
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 250px;
  position: relative;
  z-index: -1;
}

#contact .contact__title h1 {
  color: #c08507;
  padding-top: 150px;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 50px;
}

#contact .contact__title p {
  color: black;
  text-align: center;
  font-size: 1.20 px;
  line-height: 25 px;
  margin-top: 40 px;
}

.contact__title .contact__button {
  margin-top: 100px;
  position: absolute;
  right: 40%;
}

.contact__title .contact__button a {
  border: 2px solid #553301;
  border-radius: 30px;
  color: white;
  font-weight: bolder;
  font-size: 15px;
  padding: 10px 20px;
  background-color: #aa5b00;
  text-decoration: none;
}

.contact__title .contact__button a:hover {
  border: 2px solid #aa5b00;
  background-color: #553301;
}

#footer {
  background-color: #552d00;
  padding: 30px;
  position: relative;
}

#footer .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#footer .footer__social--icons a {
  margin-right: 15px;
  color: lightgray;
}

#footer .footer__social--icons a:hover {
  color: #b33939;
}

.footer__copyright p {
  margin-top: 15px;
  color: white;
  font-size: 15px;
  text-align: center;
}

#office {
  background-color: lightgoldenrodyellow;
  padding: 20px;
}

#office h1 {
  color: #c08507;
  font-weight: bolder;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
}

#office .office__image {
  margin: 30px 0;
  text-align: left;
}

#office .office__image h3 {
  font-size: 52px;
  font-weight: 200;
  text-transform: uppercase;
  margin-top: 30px;
}

#office .office__image h3 span {
  font-weight: 700;
}

#office .office__image p {
  font-size: 18px;
  font-weight: 200;
  margin: 30px 0;
  color: #acacac;
}

#office .office__image img {
  width: 800px;
  height: 300px;
  margin-top: 30px;
}

#testimonial {
  margin: 120px 0;
}

#testimonial h1 {
  color: #c08507;
  font-weight: bolder;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
}

#testimonial h5 {
  text-align: center;
  font-weight: 200;
  font-style: italic;
  font-size: 24px;
}

#testimonial figure img {
  width: 100px;
  height: 100px;
  border-radius: 50% !important;
  margin-top: 20px;
}

#testimonial figure h5 {
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  margin-top: -5px;
}

#testimonial figure figcaption {
  text-align: center;
  color: black;
  margin-top: -5px;
}

@media (max-width: 768px) {
  .container h1,
  .container p {
    text-align: center;
  }
  .jumbo__button {
    text-align: center;
    padding-bottom: 30px;
  }
  nav ul {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media screen and (max-width: 576px) {
  nav ul {
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    background-color: black;
    width: 50%;
    z-index: 1;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: all 1s;
    transition: all 1s;
    opacity: 0;
  }
  nav ul.slide {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  .header__menu--toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 10;
    right: 0;
  }
  .contact__title .contact__button {
    right: 20%;
  }
  #office {
    padding: 0;
  }
  #office .office__image {
    text-align: center;
    display: hidden;
  }
  #office .office__image h3 {
    font-size: 32px;
  }
  #testimonial h5 {
    font-size: 16px;
  }
}
/*# sourceMappingURL=main.css.map */