* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    overflow-x: hidden;
}

nav {
    display: flex;
    background-color: #6e5747;
    justify-content: space-around;
    height: 50px;
    align-items: center;
    color: white;
}

nav .logo {
    letter-spacing: 3px;
}

nav ul {
    list-style: none;
    width: 40%;
    align-items: center;
    justify-content: flex-end;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
}

nav ul li a:hover {
    color: red;
    text-decoration: none;
}

/* Hamburger Menu */
.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    left: -5px;
    top: -3px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: white;
    border-radius: 3px;
    transition: all 0.5s;
}

/* Hamburger Menu Animation */
.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
    /* untuk memindahkan poros rotasinya (porosnya di kiri atas)*/
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
    /* untuk memindahkan poros rotasinya (porosnya di kanan bawah)*/
}

.menu-toggle input:checked~span:nth-child(2) {
    background-color: white;
    transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked~span:nth-child(4) {
    background-color: white;
    transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked~span:nth-child(3) {
    opacity: 0;
    transform: scale(0);
}

/* --------------------------------------------------------------------- */

/* JUMBO */
#jumbo {
    background-image: url('../img/cover.jfif');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 150px;
    padding-bottom: 100px;
    position: relative;
    opacity: 0.8;
}

#jumbo h1 {
    font-size: 50px;
    line-height: 50px;
    font-weight: bold;
    color: rgb(192, 133, 7) !important;
}

#jumbo p {
    font-size: 20px;
    color: white;
    line-height: 30px;
}

/* --------------------------------------------------------------------- */

/* ABOUT */
#about {
    position: relative;
    padding-bottom: 8rem;
}

#about .margintop {
    margin-top: 60px;
}

#about h1 {
    color: rgb(192, 133, 7);
    font-weight: bolder;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}

#about h3 {
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    padding: 30px;
}

#about p {
    color: var(--body-color);
    font-size: 1rem;
    line-height: 25px;
    text-align: justify;
}

/* --------------------------------------------------------------------- */

/* CONTACT */
#contact {
    background-image: url('../img/contact.jfif');
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 250px;
    position: relative;
    z-index: -1;
}

#contact .contact-title h1 {
    color: rgb(192, 133, 7);
    padding-top: 150px;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 50px;
}

#contact .contact-title p {
    color: black;
    text-align: center;
    font-size: 1.20 px;
    line-height: 25 px;
    margin-top: 40 px;
}

.contact-title .contact-btns {
    margin-top: 100px;
    position: absolute;
    right: 40%;
}

.contact-title .contact-btns a {
    border: 2px solid rgb(85, 51, 1);
    border-radius: 30px;
    color: #ffffff;
    font-weight: bolder;
    font-size: 15px;
    padding: 10px 20px;
    background-color: rgb(170, 91, 0);
    text-decoration: none;
}

.contact-title .contact-btns a:hover {
    border: 2px solid rgb(170, 91, 0);
    background-color: rgb(85, 51, 1);
}

/* --------------------------------------------------------------------- */

/* FOOTER */
#footer {
    background-color: rgb(85, 45, 0);
    padding: 30px;
    position: relative;

}

#footer .row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#footer .social-icons a {
    margin-right: 15px;
    color: lightgray;
}


#footer .social-icons a:hover {
    color: rgb(179, 57, 57);
}

.copyright p {
    margin-top: 15px;
    color: #ffffff;
    font-size: 15px;
    text-align: center;
}

/* --------------------------------------------------------------------- */

/* OFFICE */
#office h1 {
    color: rgb(192, 133, 7);
    font-weight: bolder;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}

#office .workingspace {
    margin: 30px 0;
    text-align: left;
}

#office .workingspace h3 {
    font-size: 52px;
    font-weight: 200;
    text-transform: uppercase;
    margin-top: 30px;
}

#office .workingspace h3 span {
    font-weight: 700;
}

#office .workingspace p {
    font-size: 18px;
    font-weight: 200;
    margin: 30px 0;
    color: #acacac;
}

#office .workingspace img {
    width: 800px;
    height: 300px;
    margin-top: 30px;
}

/* --------------------------------------------------------------------- */

/* TESTIMONIAL */
#testimonial h1 {
    color: rgb(192, 133, 7);
    font-weight: bolder;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}

#testimonial {
    margin: 120px 0;
}

#testimonial h5 {
    text-align: center;
    font-weight: 200;
    font-style: italic;
    font-size: 24px;
}

#testimonial figure img {
    width: 100px;
    height: 100px;
    border-radius: 50% !important;
    margin-top: 20px;
}

#testimonial figure h5 {
    font-size: 32px;
    font-weight: bold;
    font-style: normal;
}

#testimonial figcaption {
    text-align: center;
    color: black;
}

/* --------------------------------------------------------------------- */

/* RESPONSIF */

@media (max-width: 768px) {
    .container h1 {
        text-align: center;
    }

    .container p {
        text-align: center;
    }

    .jumbo-btn {
        text-align: center;
        padding-bottom: 30px;
    }

    nav ul {
        width: 50%;
        display: flex;
        justify-content: flex-start;
    }
}

@media screen and (max-width: 576px) {
    nav ul {
        position: absolute;
        right: 0;
        top: 0;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background-color: black;
        width: 50%;
        z-index: 1;
        transform: translateX(100%);
        transition: all 1s;
        opacity: 0;
    }

    .menu-toggle {
        display: flex;
    }

    nav ul.slide {
        transform: translateX(0);
        opacity: 1;
    }

    .menu-toggle {
        position: absolute;
        top: 10;
        right: 0;
    }

    .contact-title .contact-btns {
        right: 20%;
    }

    #office .workingspace {
        text-align: center;
        display: hidden;
    }

    #office .workingspace h3 {
        font-size: 32px;
    }

    #testimonial h5 {
        font-size: 16px;
    }
}