$oren:rgb(192, 133, 7);
$putih: white;
$oren-tua: rgb(170, 91, 0);
$coklat: rgb(85, 51, 1);

@mixin subjudul {
    h1 {
        color: $oren;
        font-weight: bolder;
        font-size: 30px;
        text-transform: uppercase;
        text-align: center;
    }
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    overflow-x: hidden;
}

nav {
    display: flex;
    background-color: #6e5747;
    justify-content: space-around;
    height: 50px;
    align-items: center;
    color: $putih;

    .header__logo {
        letter-spacing: 3px;
    }

    ul {
        list-style: none;
        width: 40%;
        align-items: center;
        justify-content: flex-end;

        li {
            a {
                color: $putih;
                text-decoration: none;
                font-size: 15px;
                text-transform: uppercase;
            }

            a:hover {
                color: red;
            }
        }
    }
}

/* Hamburger Menu */
.header__menu--toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;

    input {
        position: absolute;
        width: 40px;
        height: 28px;
        left: -5px;
        top: -3px;
        opacity: 0;
        cursor: pointer;
        z-index: 2;
    }

    span {
        display: block;
        width: 28px;
        height: 3px;
        background-color: $putih;
        border-radius: 3px;
        transition: all 0.5s;
    }

    span:nth-child(2) {
        transform-origin: 0 0;
    }

    span:nth-child(4) {
        transform-origin: 0 100%;
    }

    input:checked~span:nth-child(2) {
        background-color: $putih;
        transform: rotate(45deg) translate(-1px, -1px);
    }

    input:checked~span:nth-child(4) {
        background-color: $putih;
        transform: rotate(-45deg) translate(-1px, 0);
    }

    input:checked~span:nth-child(3) {
        opacity: 0;
        transform: scale(0);
    }
}

// jumbotron
#jumbo {
    background-image: url('../img/cover.jfif');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 150px;
    padding-bottom: 100px;
    position: relative;
    opacity: 0.8;

    h1 {
        font-size: 50px;
        line-height: 50px;
        font-weight: bold;
        color: $oren !important;
    }

    p {
        font-size: 20px;
        color: $putih;
        line-height: 30px;
    }
}

// about
#about {
    position: relative;
    padding-bottom: 8rem;

    h1 {
        color: $oren;
        font-weight: bolder;
        font-size: 30px;
        text-transform: uppercase;
        text-align: center;
    }

    h3 {
        font-weight: bold;
        font-size: 20px;
        text-transform: uppercase;
        text-align: center;
        padding: 30px;
    }

    p {
        font-size: 1rem;
        line-height: 25px;
        text-align: justify;
    }
}

// contact
#contact {
    background-image: url('../img/contact.jfif');
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 250px;
    position: relative;
    z-index: -1;

    .contact__title {
        h1 {
            color: rgb(192, 133, 7);
            padding-top: 150px;
            text-transform: uppercase;
            font-weight: bolder;
            font-size: 50px;
        }

        p {
            color: black;
            text-align: center;
            font-size: 1.20 px;
            line-height: 25 px;
            margin-top: 40 px;
        }
    }
}

.contact__title {
    .contact__button {
        margin-top: 100px;
        position: absolute;
        right: 40%;

        a {
            border: 2px solid $coklat;
            border-radius: 30px;
            color: $putih;
            font-weight: bolder;
            font-size: 15px;
            padding: 10px 20px;
            background-color: $oren-tua;
            text-decoration: none;
        }

        a:hover {
            border: 2px solid $oren-tua;
            background-color: $coklat;
        }
    }
}


// footer
#footer {
    background-color: rgb(85, 45, 0);
    padding: 30px;
    position: relative;

    .row {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .footer__social--icons {
        a {
            margin-right: 15px;
            color: lightgray;
        }

        a:hover {
            color: rgb(179, 57, 57);
        }
    }
}

.footer__copyright {
    p {
        margin-top: 15px;
        color: $putih;
        font-size: 15px;
        text-align: center;
    }
}

// office
#office {
    background-color: lightgoldenrodyellow;
    padding: 20px;

    @include subjudul();

    .office__image {
        margin: 30px 0;
        text-align: left;

        h3 {
            font-size: 52px;
            font-weight: 200;
            text-transform: uppercase;
            margin-top: 30px;

            span {
                font-weight: 700;
            }
        }

        p {
            font-size: 18px;
            font-weight: 200;
            margin: 30px 0;
            color: #acacac;
        }

        img {
            width: 800px;
            height: 300px;
            margin-top: 30px;
        }
    }
}

// testimoni
#testimonial {
    margin: 120px 0;

    @include subjudul();

    h5 {
        text-align: center;
        font-weight: 200;
        font-style: italic;
        font-size: 24px;
    }

    figure {
        img {
            width: 100px;
            height: 100px;
            border-radius: 50% !important;
            margin-top: 20px;
        }

        h5 {
            font-size: 20px;
            font-weight: bold;
            font-style: normal;
            margin-top: -5px;
        }

        figcaption {
            text-align: center;
            color: black;
            margin-top: -5px;
        }
    }
}

// media query
@media (max-width: 768px) {
    .container {

        h1,
        p {
            text-align: center;
        }
    }

    .jumbo__button {
        text-align: center;
        padding-bottom: 30px;
    }

    nav ul {
        width: 50%;
        display: flex;
        justify-content: flex-start;
    }
}

@media screen and (max-width: 576px) {
    nav {
        ul {
            position: absolute;
            right: 0;
            top: 0;
            height: 100vh;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            background-color: black;
            width: 50%;
            z-index: 1;
            transform: translateX(100%);
            transition: all 1s;
            opacity: 0;
        }

        ul.slide {
            transform: translateX(0);
            opacity: 1;
        }
    }

    .header__menu--toggle {
        display: flex;
        position: absolute;
        top: 10;
        right: 0;
    }

    .contact__title .contact__button {
        right: 20%;
    }

    #office {
        padding: 0;

        .office__image {
            text-align: center;
            display: hidden;

            h3 {
                font-size: 32px;
            }
        }
    }

    #testimonial h5 {
        font-size: 16px;
    }
}